dist: trusty
language: node_js
node_js:
- "8"
cache:
   directories:
   - node_modules
before_script:
- npm install -g httpserver
- npm run build
- cd dist && httpserver -p 8080 &
script:
- npx cypress run
deploy:
  provider: surge
  skip_cleanup: true
  domain: webapp-forum.surge.sh
  project: ./dist
  on:
    branch: master
